@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.expertise h1{
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    color: #00c6ff; 
    font-size: 3rem; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }

  .text-section {
    padding: 20px; 
}

.container {
    display: flex; 
   justify-content: space-between;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    
}

.left-column, .right-column {
    flex: 1; 
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
    gap: 40px; 
}

.left-column {
    margin-right: 60px; 
}

.right-column {
    margin-left: 60px; 
}

.text-box {
    padding: 20px; 
    margin-bottom: 20px; 
    text-align: center; 
    background: #fff;
    border-radius: 20px;
    height: 200px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.text-box.visible {
    opacity: 1; 
    transform: translateY(0); 
}

.text-box:not(.visible) {
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #ffffff; 
}


.text-box h1 {
    text-decoration: none;
    transition: color 0.3s;
    text-align: center;
    font-family: 'Arial', sans-serif; 
    font-weight: bold;
    color: #00c6ff; 
    font-size: 1.2rem; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.text-box p {
    font-size: 1rem; 
    color: #333; 
    line-height: 1.6; 
    margin: 0; 
}